.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

input {
  display: flex;
}

.f_i {
  display: flex;
  flex-direction: column;
}

.input {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
}
.login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  min-height: 98vh;
  /* background-image: url(../../public/pexels-orlovamaria-4946702.jpg); */
  background-size: cover;
  background-blend-mode: lighten;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .card {
    margin-bottom: 1rem;
  }
}
.card {
  position: relative;
  width: 250px;
  backdrop-filter: blur(24px);
  background: rgba(152, 224, 221, 0.359);
  border-radius: 15px;
  padding: 7.5em 2.5em 4em 2.5em;
  color: var(--second-color);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.9);
}
.card-header-login {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background: rgba(192, 10, 10, 0.253);
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 45px;
  font-weight: 900;
  font-size: 35px;
  width: 140px;
  height: 70px;
}
.card-header-signup {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background: rgba(192, 10, 10, 0.333);
  justify-content: center;
  align-items: center;
  border-radius: 0 0 45px 10px;
  font-weight: 900;
  font-size: 35px;
  width: 140px;
  height: 70px;
}
.card-header h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

form {
  position: absolute;
  justify-content: center;
  align-items: center;
}
.card-inpt {
  position: relative;
  height: 30px;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 2px solid black;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  color: black;
  transition: all 0.3s ease-in-out;
}
.card-inpt:hover {
  border-bottom: 3px solid rgb(0, 8, 168);
}
.card-inpt::placeholder {
  color: rgba(7, 7, 7, 0.863);
  font-weight: 500;
}

.card-checkbx {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.card-btn {
  height: 50px;
  margin-top: 40px;
  width: 100%;
  border: none;
  background-color: rgb(0, 76, 190);
  color: white;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.card-btn:hover {
  background-color: rgba(192, 10, 10, 0.333);
  color: rgb(5, 5, 5);
  cursor: pointer;
}

.notification {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
}
