.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: skyblue;
    border-radius: 10px;
    padding: 15px 7px;
}
.logo{
    width:80px;
    cursor: pointer;
    border-radius: 10px;
}
.nav-link{
   margin: 10px 20px;
   font-size: 18px;
   cursor: pointer;
   align-items: center;
   justify-content: space-between;
   color: #242424;
   text-decoration: none;
}
.active:hover{
    color: rgb(107, 107, 107);
}


.searchBox{
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 30px;
    margin-right: 10px;
}
.searchBox input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}


















