.navbar {
  width: 100%;
  justify-content: space-between;
  background: skyblue;
  padding: 15px 7px;
  border-radius: 10px;
}
.logo {
  width: 80px;
  cursor: pointer;
  border-radius: 10px;
}
.nav-link {
  margin: 10px 20px;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  text-decoration: none;
}
.active {
  color: rgb(10, 22, 235);
  font-size: 30px;
}
.active:hover {
  color: rgb(235, 10, 10);
  font-size: 30px;
}
.logout {
  justify-content: flex-end;
  color: #000000;
  font-weight: 700;
  font-size: 25px;
  float: right;
  margin-right: 20px;
  transition: 50ms all ease-in-out;
}
.logout:hover {
  color: rgb(235, 10, 10);
  cursor: pointer;
}
.searchBox {
  display: flex;
  align-items: center;
  background: #242424;
  padding: 10px 20px;
  border-radius: 30px;
  margin-right: 10px;
}
.searchBox input {
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18px;
  max-width: 200px;
}

.title {
  color: #10439f;
  margin-left: 850px;
}
